// Placeholder to allow overriding predefined variables smoothly.
$brand-color:           #8b949e;
$brand-color-light:     #f0f6fc;
$brand-color-dark:      #404040;

$site-title-color:      $brand-color-light;

$text-color:            #c9d1d9;
$background-color:      #0d1117;
$code-background-color: #161b22;

$link-base-color:       #58a6ff;
$link-visited-color:    $link-base-color;
$link-hover-color:      $text-color;

$border-color-01:       #30363d;
$border-color-03:       #ff0000;

$table-border-color:    $border-color-01;

$table-zebra-color:     #141b22;
$table-header-bg-color: $background-color;
$table-header-border:   $table-border-color;
